<header class="mdc-toolbar mdc-toolbar--fixed">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <!--<a href="#" class="material-icons">menu</a>-->
      <span class="mdc-toolbar__title">Angular Shell</span>
    </section>
    <section class="mdc-toolbar__section">
      <a [routerLink]="['/Settings']" class="demo-paragraph">Settings</a>
      <a [routerLink]="['/About']" class="demo-paragraph">About</a>
      <a [routerLink]="['/Help']" class="demo-paragraph">Help</a>
    </section>
    <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
          <a href="#" class="material-icons" aria-label="Download" alt="Download">file_download</a>
          <a href="#" class="material-icons" aria-label="Print this page" alt="Print this page">print</a>
          <a href="#" class="material-icons" aria-label="Bookmark this page" alt="Bookmark this page">bookmark</a>
    </section>
  </div>
</header>

<router-outlet></router-outlet>
