<div class="container">
<!--<div class="mdc-card__horizontal-block">
  <a [routerLink]="['cnn']" >
       <img class="mdc-card__media-item mdc-card__media-item--1x" src="../assets/images/cnn.jpg" />
  </a>
</div>
<div class="mdc-card__horizontal-block">
  <a [routerLink]="['bbc']" >
       <img class="mdc-card__media-item mdc-card__media-item--1x" src="../assets/images/bbc.png" />
  </a>
</div>
<div class="mdc-card__horizontal-block">
  <a [routerLink]="['hacker']" >
       <img class="mdc-card__media-item mdc-card__media-item--1x" src="../assets/images/hackernews.jpg" />
  </a>
</div>-->
<li *ngFor="let article of articles">{{article.description}}</li>

</div>
